@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateStudentInfo</title>
</head>
<body>
    <form method="post">
        <input asp-for="StdId" class="form-control" id="floatingInput" placeholder="ID" hidden>
        <div class="form-floating">
          <input asp-for="StdName" class="form-control" id="floatingPassword" value="@Model.StdName">
        </div>
        <div class="form-floating">
          <input asp-for="Age" class="form-control" id="floatingPassword" value="@Model.Age">
        </div>
        <input type="submit" class="btn btn-success" value="Update"/>
    </form>
</body>
</html>
